absl-py
astunparse
cachetools
certifi
charset-normalizer
customtkinter
cycler
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
joblib
keras
kiwisolver
libclang
llvmlite=
Markdown
MarkupSafe
matplotlib
numba
numpy
oauthlib
opencv-python
opt-einsum
packaging
Pillow
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
typing_extensions
urllib3
Werkzeug
wrapt
zipp
