contourpy==1.2.1
cycler==0.12.1
Cython==3.0.11
fonttools==4.53.1
injector==0.20.1
kiwisolver==1.4.5
matplotlib==3.9.2
numpy==1.23.5
opencv-python==4.10.0.84
packaging==24.1
pillow==10.4.0
pycairo==1.26.1
PyGObject==3.48.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
scipy==1.14.1
six==1.16.0
genicam==1.4.0; extra == 'genicam'
importlib_resources; python_version<'3.7'
typing_extensions; python_version<'3.8'